.three-sparkes {
  position: absolute;
  top: -10px;
  right: -3px;
  height: 103%;
}

.three-sparkles--shining {
  -webkit-animation: sparkling 4s ease-in-out 2s infinite;
          animation: sparkling 4s ease-in-out 2s infinite;
}

.moving-circles--moving {
  position: absolute;
  top: -6px;
  right: 0px;
  height: 103%;
}

.moving-circles--moving {
  -webkit-animation: movingCircles 4s ease-in-out 0.2s infinite;
          animation: movingCircles 4s ease-in-out 0.2s infinite;
}

@-webkit-keyframes movingCircles {
  0%,
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 20px);
            transform: translate(-50px, 20px);
  }
}

@keyframes movingCircles {
  0%,
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 20px);
            transform: translate(-50px, 20px);
  }
}

@-webkit-keyframes sparkling {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes sparkling {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=animations.css.map */