.three-sparkes {
  @include position(absolute, -10px, -3px);
  height: 103%;
  @media (max-width: 768px) {
    @include position(absolute, 3px, -4px);
    height: 100%;
  }
}
.three-sparkles--shining {
  animation: sparkling 4s ease-in-out 2s infinite;
}
.moving-circles--moving {
  @include position(absolute, -6px, 0);
  height: 103%;
  @media (max-width: 768px) {
    @include position(absolute, 8px, -1px);
    height: 99%;
  }
}
.moving-circles--moving {
  animation: movingCircles 4s ease-in-out 0.2s infinite;
}
@keyframes movingCircles {
  0%,
  90% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 20px);
  }
}
@keyframes sparkling {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
