.footer {
  background: $dark-gray;
  color: $light-gray;
  padding: $footer-padding;
  @include font($font-main, 16px, 19px);
  @include grid(repeat(7, minmax(max-content, 1fr)), repeat(2, 82px), 0);
  &__logo {
    @include flex(16px, row, start, start);
    @include font($font-main, $size: 16px, $line-height: 19px);
    color: $main-color;
    text-transform: uppercase;
  }
  &__address {
    font-style: normal;
    @include grid(max-content, repeat(2, 82px), 0);
    grid-column: 3;
    grid-row: 1 / 3;
  }
  &__copyright {
    grid-column: 6/8;
    grid-row: 2;
    justify-self: end;
  }
}
