.header {
  padding-top: $header-padding;
}
.nav {
  @include flex(165px);
  margin-left: 152px;
  align-items: baseline;
  &__site-name {
    color: $main-color;
    @include font($font-main, 20px, 16px, 600);
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
    @include flex(32px);
  }
  &__item {
    padding: 3px 0;
    &--underline:hover {
      border-bottom: 1px solid $main-color;
      padding-bottom: 3px;
    }
  }
  &__link {
    color: $main-color;
    @include font($font-main, 14px, 16px);
  }
  &__btn {
    background: none;
    border: none;
    cursor: pointer;
    @include flex(3px, column);
    @include display(none);

    &__line {
      height: 2px;
      width: 20px;
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 10px;
    }
  }
}
