@media screen and (max-width: $mobile-breakpoint) {
  .nav {
    justify-content: space-between;
    margin: 0 27px;
    &__menu {
      @include display(none);
    }
    &__btn {
      @include display(block);
      display: flex;
      gap: 3px;
    }
  }

  .hero {
    background-position: right;
  }
  .headline-article {
    text-align: left;
    align-items: flex-start;
    &__content {
      @include grid(1fr, auto, 24px);
    }
  }
  .footer {
    @include grid(1fr, auto, 31px);
    justify-items: center;
    text-align: center;
    padding-bottom: 20px;
    &__address {
      @include grid(max-content, auto, 0);
      grid-column: 1;
      grid-row: 2;
      text-align: center;
    }
    &__copyright {
      grid-column: 1;
      grid-row: 3;
      justify-self: unset;
    }
  }
}
