.hero {
  @include bgImage($bg-hero);
  position: relative;
  // @media (max-width: 768px) {
  //   background-position: right;
  // }
}
.hero-content {
  padding: $hero-padding;
  color: $main-color;
  @include flex(0, column, center);
  text-align: center;
  &__logo--rotate {
    transition: all 1s;
    z-index: 1;
    &:hover {
      transform: scale(1.5) rotateY(180deg);
    }
  }
  &__title {
    margin: 13px 0 42px;
    @include font($font-headline, 48px, 64px, 700);
  }
  &__sub-title {
    margin: 0;
    @include font($font-main, 24px, 32px, 400);
  }
}

.headline {
  padding: $headline-padding;
  background: $bg-headline;
}
.headline-article {
  @include flex(0, column, center);
  max-width: 907px;
  padding: 0 27px;
  margin: 0 auto;
  text-align: center;
  &__title {
    margin: 0;
    @include font($font-headline, 48px, 64px, 700);
    color: $dark-gray;
  }
  &__sub-title {
    @include font($font-main, 24px, 32px, 400);
    margin: 48px 0;
  }
  &__content {
    @include grid;
    margin-bottom: 46px;
  }
}

.more {
  @include bgImage($bg-more);
  @include flex(0, column, center);
  color: $main-color;
  padding: $section-more-padding;
  position: relative;
  &:after {
    background: $bg-more-overlay;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.more-article {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  &__title {
    @include font($font-headline, 48px, 64px, 700);
  }
  &__sub-title {
    @include font($font-main, 24px, 32px, 400);
  }
}

%btn {
  background-color: $btn-bg;
  border: 1px solid $btn-bg;
  color: $main-color;
}
.headline-article__btn {
  @extend %btn;
  @include font($font-main, 14px, 26px);
  text-transform: uppercase;
  border-radius: 18px;
  padding: $btn-read-padding;
  &--rotate {
    transform-origin: top left;
    transition: all 1s;
    &:hover {
      transform: rotate(15deg);
    }
  }
}

.btn-play {
  @extend %btn;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 53px 0 70px;
  position: relative;
  z-index: 1;
  transition: all 2s;
  &:hover {
    background: $main-color;
    border: 1px solid $main-color;
  }
  &:hover > &__triangle {
    color: $btn-play-bg;
  }
  &__triangle {
    color: $main-color;
    height: 55px;
    width: 70px;
    font-size: 62.5px;
    position: absolute;
    top: calc((150px - 70px) / 2);
    left: calc((150px - 55px) / 2);
  }
}
