@mixin bgImage($img, $pos: center) {
  background-image: $img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: $pos;
}
@mixin flex($gap, $direction: row, $justify: start, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align-items;
  gap: $gap;
}

@mixin grid($columns: repeat(2, 1fr), $rows: auto, $gap: 83px) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  text-align: start;
}
@mixin display($display: none) {
  display: $display;
}
@mixin font($font-family, $size: 16px, $line-height: 20px, $font-weight: 400) {
  font-family: $font-family;
  font-size: $size;
  line-height: $line-height;
  font-weight: $font-weight;
}
@mixin position($position, $top: 0, $right: 0) {
  position: $position;
  top: $top;
  right: $right;
}
