@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro);

$btn-bg: #55c2d8;
$btn-play-bg: #39c2d7;
$main-color: #ffffff;

$bg-hero: url(./images/abstract-background.svg);
$bg-more: url(./images/section-background.png);
$bg-headline: #eeeeee;
$bg-more-overlay: rgba(140, 79, 42, 0.3);
$dark-gray: #464547;
$light-gray: rgba(255, 255, 255, 0.4);

$font-main: "Source Sans Pro", Helvetica, sans-serif;
$font-headline: "Oswald", Helvetica, sans-serif;

$header-padding: 45px;
$hero-padding: 203px 0 256px;
$headline-padding: 87px 0 98px;
$section-more-padding: 84px 0 90px;
$footer-padding: 37px 148px 0 153px;
$btn-read-padding: 5px 17px 6px 18px;

$mobile-breakpoint: 768px;
