@import url(https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.header {
  padding-top: 45px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 165px;
  margin-left: 152px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav__site-name {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
}

.nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.nav__item {
  padding: 3px 0;
}

.nav__item--underline:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
}

.nav__link {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.nav__btn {
  background: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
  display: none;
}

.nav__btn__line {
  height: 2px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.hero {
  background-image: url(./images/abstract-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero-content {
  padding: 203px 0 256px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  text-align: center;
}

.hero-content__logo--rotate {
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

.hero-content__logo--rotate:hover {
  -webkit-transform: scale(1.5) rotateY(180deg);
          transform: scale(1.5) rotateY(180deg);
}

.hero-content__title {
  margin: 13px 0 42px;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.hero-content__sub-title {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.headline {
  padding: 87px 0 98px;
  background: #eeeeee;
}

.headline-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  max-width: 907px;
  padding: 0 27px;
  margin: 0 auto;
  text-align: center;
}

.headline-article__title {
  margin: 0;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
  color: #464547;
}

.headline-article__sub-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 48px 0;
}

.headline-article__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 83px;
  text-align: start;
  margin-bottom: 46px;
}

.more {
  background-image: url(./images/section-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  color: #ffffff;
  padding: 84px 0 90px;
  position: relative;
}

.more:after {
  background: rgba(140, 79, 42, 0.3);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.more-article {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}

.more-article__title {
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.more-article__sub-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.headline-article__btn, .btn-play {
  background-color: #55c2d8;
  border: 1px solid #55c2d8;
  color: #ffffff;
}

.headline-article__btn {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 18px;
  padding: 5px 17px 6px 18px;
}

.headline-article__btn--rotate {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.headline-article__btn--rotate:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.btn-play {
  cursor: pointer;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 53px 0 70px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.btn-play:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
}

.btn-play:hover > .btn-play__triangle {
  color: #39c2d7;
}

.btn-play__triangle {
  color: #ffffff;
  height: 55px;
  width: 70px;
  font-size: 62.5px;
  position: absolute;
  top: calc((150px - 70px) / 2);
  left: calc((150px - 55px) / 2);
}

.footer {
  background: #464547;
  color: rgba(255, 255, 255, 0.4);
  padding: 37px 148px 0 153px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(max-content, 1fr))[7];
      grid-template-columns: repeat(7, minmax(-webkit-max-content, 1fr));
      grid-template-columns: repeat(7, minmax(max-content, 1fr));
  -ms-grid-rows: (82px)[2];
      grid-template-rows: repeat(2, 82px);
  gap: 0;
  text-align: start;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__address {
  font-style: normal;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  -ms-grid-rows: (82px)[2];
      grid-template-rows: repeat(2, 82px);
  gap: 0;
  text-align: start;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.footer__copyright {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: end;
      justify-self: end;
}

.three-sparkes {
  position: absolute;
  top: -10px;
  right: -3px;
  height: 103%;
}

@media (max-width: 768px) {
  .three-sparkes {
    position: absolute;
    top: 3px;
    right: -4px;
    height: 100%;
  }
}

.three-sparkles--shining {
  -webkit-animation: sparkling 4s ease-in-out 2s infinite;
          animation: sparkling 4s ease-in-out 2s infinite;
}

.moving-circles--moving {
  position: absolute;
  top: -6px;
  right: 0;
  height: 103%;
}

@media (max-width: 768px) {
  .moving-circles--moving {
    position: absolute;
    top: 8px;
    right: -1px;
    height: 99%;
  }
}

.moving-circles--moving {
  -webkit-animation: movingCircles 4s ease-in-out 0.2s infinite;
          animation: movingCircles 4s ease-in-out 0.2s infinite;
}

@-webkit-keyframes movingCircles {
  0%,
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 20px);
            transform: translate(-50px, 20px);
  }
}

@keyframes movingCircles {
  0%,
  90% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 20px);
            transform: translate(-50px, 20px);
  }
}

@-webkit-keyframes sparkling {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes sparkling {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 27px;
  }
  .nav__menu {
    display: none;
  }
  .nav__btn {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
  }
  .hero {
    background-position: right;
  }
  .headline-article {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headline-article__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 24px;
    text-align: start;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 31px;
    text-align: start;
    justify-items: center;
    text-align: center;
    padding-bottom: 20px;
  }
  .footer__address {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 0;
    text-align: start;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: center;
  }
  .footer__copyright {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column-align: unset;
        justify-self: unset;
  }
}
/*# sourceMappingURL=styles.css.map */